.search__container {
  background: url("https://images.unsplash.com/photo-1581349485608-9469926a8e5e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80")
    no-repeat center center / cover;

  padding: 16px;

  @include breakpoint(md) {
    padding: 60px;
  }

  .container {
    background-color: #f8f7f9;

    padding: 16px 24px 32px;

    max-width: 900px;
    position: relative;
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 8px 3px;
    border-radius: 16px;

    @include breakpoint(lg) {
      padding: 32px 48px 64px;
    }

    form {
      padding: 24px 0 16px;
      min-width: 300px;

      @include breakpoint(md) {
        min-width: 600px;
      }

      @include breakpoint(lg) {
        padding-top: 42px;
        min-width: 600px;
      }

      .v-text-field__details {
        display: none;
      }

      [type="submit"] {
        position: relative;
        border: none;
        user-select: none;
        height: 56px;
        font-size: 20px;
        letter-spacing: 1px;
        border-radius: 8px;
        background-color: rgb(83, 146, 249);
        color: rgb(255, 255, 255);
        box-shadow: rgb(0 0 0 / 20%) 0px 1px 3px 1px;
        transition: all 0.15s ease-in-out 0s;
        width: 200px;

        @include breakpoint(md) {
          width: 300px;
        }
       
      }
    }
  }
}
